[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-rest-auth = "*"
django-rest-auth-dj4 = "*"
requests = "*"
django-allauth = "*"
django-registration-redux = "*"
social-auth-app-django = "*"
django-userena-ce = "*"

[dev-packages]

[requires]
python_version = "3.11"
