.header{
    background-image: linear-gradient(to left, yellow, coral);
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    height: 62px;
    box-shadow: 0 2px 2px coral;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: Georgia;

}
.header-icons{
    display: flex;
    justify-content: right;
    /* width: 50%; */
    align-items: center;
}

.logo-image{
    width: 5em;
    height: 100%;
}

.nav-bar{
    width: 40%;
    font-size: 1.2rem;
    margin-top: 12px;
    margin-left: 10rem;
    text-align: center;
}

.nav-bar ul li{
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 400;
    font-size: 1.5rem;
    display: flex;
    padding: 0.5em;
    color:rgb(44, 33, 117);
}

.nav-bar li a:hover{
    text-decoration: underline;
    /* font-size: 1.3rem; */
    font-weight: 600;
    text-shadow: 1px 1px 1px;
}

.nav-bar a:visited{
    color: rgb(44, 33, 117);
}

.cart-icon{
    margin-top: 16px;
    width: 24px;
    height: auto;
    color: brown;
    position: relative;
}

.cart-icon .menu-icon{
    position: static;
    text-align: right;
}

.user-icon{
    /* margin: 0.5em; */
    /* padding: 0.5em; */
    margin-top: 16px;
    margin-right: 8px;
    width: 24px;
    height: auto;
    color: brown;
}

.noti-icon{
    position: absolute;
    width: 15px;
    height: 15px;
    top:7px;
    left:20px;
    color: brown;
    padding: 1px;
    font-weight: 800;
}

.cart-and-noti{
    width: 24px;
    height: auto;
    /* margin: auto; */
    margin-right: 8px;
    position: relative;
}

.cart-icon:hover, .user-icon:hover{
    color: white;
    cursor: pointer;
}

.orders-placed{
    margin: 0.5em 0.5em 0 0;
    padding: 0.5em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    opacity: 80%;
    /* max-height: 150px; */
    width: min(90%, 380px);
    border-radius: 10px;
    overflow-y: auto;
}

.empty-order{
    width: fit-content;
    margin: 0 auto;
}

.cart-heading{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(136, 133, 133);
}

.close-cart{
    position: absolute;
    top:0;
    right: 0;
    font-size: 1.5rem;
    padding-right: 0.25em;
    cursor: pointer;
}

.close-cart:hover{
    color: red;
}

h4{
    width: 100%;
    text-align: center;
}

.orders{
    margin-top: 0.75em;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    border-bottom: 1px solid ;
    padding-bottom: 0.25em

}

.order-image {
    text-align: center;
    padding-right: 1em;
}

.order-image img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.order-image figcaption{
    font-size: 0.75em;
}

.order-details {
    width: 65%;
    margin: auto;
}

.order-details .price{
    text-align: center;
    padding-left: 4em;

}

.feedback{
    max-height: 300px;
    width: min(100%, 370px);
    margin: 1rem;
    padding: 0.5em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    text-align: center;
    background-color: bisque;
    box-shadow: -3px -3px 7px rgb(94, 69, 69);
}

.feedback img{
    width: 20rem;
    height: 230px;
}

.feedback figcaption{
    border-top: 1px solid brown;
    text-align: left;
    padding-left: 0.5em;
    padding-top: 0.25em;

}

.ceo-quote{
    background-image: linear-gradient(yellow, bisque);
    max-width: 75%;
    min-height: 300px;
    text-align: center;
    margin: 0.5em auto;
    padding: 0.5em;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.ceo-quote p{
    max-width: 600px;

}

.ceo-quote figure{
    /* border-left: 2px solid rgb(173, 33, 33); */
    padding: 0.75em;
    margin: 0.75em;
    text-align: center;
    width: min(100%, 600px);
}

.ceo-quote figure img{
    margin: 0 auto;
}

.ceo-quote figcaption{
    margin-top: 12px;
}
.footer{
    font-family: Times, serif;
    min-height: 6.25em;
    background-color: rgb(182, 33, 33);
    margin: 0.5em 0 0;
    padding: 0.5em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer li{
    list-style: none;
}

.footer figure{
    padding: 0.5em;
}

.footer address{
    text-align: center;
    padding: 0.5em;
    color: aliceblue;
    font-size: 1.3rem;
}

.footer h3{
    font-family: Times, serif;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: 2rem;
    color: azure;
}

.company-address{
    text-align: center;
    width: 48%;
}
.company-section{
    min-width: 50%;
    text-align: center;
    color: #fff;
}

.company-section ul li{
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.whatsapp-icon{
    color: greenyellow;
}

.instagram-icon{
    color: pink;
}

.tiktok-icon{
    color: black;
}

.social{
    width: 2rem;
    height: auto;
    padding: 0.25em;
    margin: 0.25em;
}

/************* ACCOUNT **********/

.consumer-profile{
    margin-top: 2em;
    margin-bottom: 2em;
}

.profile-picture{
    height: 400px;
    width: 300px;
    margin: auto;
    /* border: 2px solid ; */
    text-align: center;
    border-bottom: 2px solid crimson;

}

.account-container button{
    padding: 8px;
    margin: 1rem auto;
    display: block;
}

.picture{
    border: 2px solid;
    width: 220px;
    height: 250px;
    margin: 10% auto;
}


/*****    | REGISTRATION   FORM **********/

.register-form, .login-form, .reset-form{
    /* width: 80%; */
    /* font-size: 1.5rem; */
    /* margin: 2rem auto; */
    background-color: rgba(255, 127, 80, 0.514);
    /* padding: 2rem; */
    /* border-radius: 24px; */
}

.register p, .login p{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-options{
    text-align: right;
}

.form-options a{
    margin-left: 1rem;
    margin-right: 2rem;
}


.register-form label,
.login-form label,
.reset-form label{
    display: flex;   
    /* justify-content: space-between; */
    /* margin: 0.5em; */
    border-bottom: 1px solid chocolate;
}

.register-form input,
.login-form input,
.reset-form input{
    /* height: 2.5rem; */
    border-radius: 12px;
    /* margin: 0.5em 0.5em 1em 0.5em; */
    padding: 0.5em;
}
