/*  || SMALL SCREEN */
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.menu-icon{
    width: 50px;
}

.menu-icon:hover{
    color: azure;
}

.menu-icon span{
    display: block;
    width: 30px;
    padding-left: 10;
    margin-bottom: 4px;
    height: 4px;
    background-color: brown;
}

@media screen and (min-width: 310px){
    body{
        width: 100%;
        /* background-image: radial-gradient(yellow, red); */
    }

    .kota-img{
        display: none;
    }
    
    
    .logo-placeholder{
        width: 158px;
        height: auto;
        padding: 12px;
    }

    .special p{
        width: 300;
    }

    .footer{
        justify-content: center;
    }

    .reviews figcaption{
        text-align: center;
    }

    .nav-bar{
        display: none;
    }

    .nav-small{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 0;
        right: 0;
        background-color: coral;
        width: 100%;
        height: 100vh;
        margin-left: 1rem;
        padding: 0.5em;
    }


    .reviews{
        width: 100%;
    }

    .nav-small-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid lightgray;
        height:10vh;
        padding-bottom: inherit;
    }

    .nav-small-header figure{
        width: 50%;
        background-image: url(/kota-logo.png);
        background-position: center center;
        background-size: cover;
    }


    .nav-small ul{
        height: 80vh;
    }

    .nav-small ul li{
        list-style: none;
        height: 2.8em;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid lightgray;
    }

    .nav-small a, .nav-small:visited{
        width: fit-content;
        text-decoration: none;
        color: black;
        margin: auto 0.5em;
    }
    
    .nav-small p{
        width: fit-content;
        margin: 0 auto;
        padding: 8px;
        background-color: lightcoral;
    }


    .register, .login, .reset-pwd{
        padding: 0.5em;
        margin: auto;
    }

    .register h2, .login h2,
    .reset-pwd h2, .account-container h2{
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        font-size: 2.5rem;
        color: brown;
        text-shadow: 2px 3px 2px gray;
    }

    .register-form, .login-form,
    .reset-form{
        margin: 2rem auto;
        box-shadow: -2px -2px 7px #000;
        font-size: 1rem;
        padding: 0.5em;
        border-radius: 24px;
        max-width: 400px;
    }

    .register-form label,
    .login-form label,
    .reset-form label{
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
    }
    
    .register-form input,
    .login-form input,
    .reset-form input{
        width: 250px;
        margin-bottom: 12px;
        height: 38px;
    }

    .register-form .submit-form{
        width: 80px;
        justify-self: end;
    }

    .login-form .form-submit,
    .reset-form .reset-submit{
        width: 80px;
        margin-left: 2rem;
        margin-top: 12px;
    }

    .register-form button,
    .login-form button{
        font-size: 1rem;
        margin-left: 8px;
        margin-top: 8px;
        padding: 4px;
        border-radius: 16px;
    }

    /***************** ABOUT PAGE **********/
    .info p, .info figcaption, .social-contact p{
        font-size: 1rem;
    }

    .info h3, .social-contact h2{
        font-size: 1.5rem;
    }


    /**************** HOME PAGE **************/
    .poster-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .special{
        order: -1;
    }

    .content h3{
        font-size: 1.5rem;
        background-color: chocolate;
        text-align: center;
        font-family: sans-serif;
        color: bisque;
        margin: 3rem 0;
    }

    .footer h3{
        font-size: 1.5rem
    }
}

/*  || MEDIUM SCREEN */
@media screen and (min-width: 412px){
    .company-section figure img{
        margin: 0 auto;;
    }

    .reviews{
        max-width: 80%;
    }

    .ceo-quote p{
        min-width: 250px;
    }

}

/*  || MEDIUM SCREEN */
@media screen and (min-width: 520px){
    .kota-img{
        display: block;
    }

}

/*  || MEDIUM SCREEN */
@media screen and (max-width: 720px){
    .menu-option{
        flex-direction: column;
    }

    .poster-text{
        height: 100%;
    }
    .kota-details{
        min-width: 100%;
        margin: 0 auto;
    }

    
 
}

/*  || TABLET */
@media screen and (min-width: 768px){
    .special figure{
        /* background-color: black; */
        width: 100%;
        padding: 0.5em;
        margin: 0.5em;
    }
   
    .poster-text{
        width: 60%;
    }

    .register, .login, .reset-pwd{
        width: 450px;
     }
}

@media screen and (min-width: 915px){
    
    
    .nav-small{
        display: none;
    }

    .content h3{
        font-size: 2.5rem;
        margin-top: 0;
    }
    

    .menu-icon{
        display: none;
    }
    .nav-bar{
        display: block;
    }

    .nav-bar a{
        font-size: 1.2rem;
    }

    .header-icons{
        padding-right: 1em;
        justify-content: flex-end;
    }
    
    .user-icon{
        margin-left: 1em;
    }

    .logo-placeholder{
        margin-left: 5rem
    }

    .text{
        font-size: 1.5rem;
    }
    .ceo-quote{
        font-size: 1.5rem;
    }

    .info p, .info figcaption, .social-contact p{
        font-size: 1.5rem;
    }

    .info h3, .social-contact h2{
        font-size: 2rem;
    }

    .poster .poster-text{
        font-size: 2rem;
    }

}

/* SMALL LAPTOP*/
@media screen and (min-width: 1024px){
    .ceo-quote p{
        width: 45%;
    }

    .ceo-quote figure{
        width: 50%
    }

    .nav-bar{
        margin-left: 50%
    }

    .text{
        width: 350px;
    }

}